.counter-content {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.counter-message {
  margin-bottom: 0px;
}

.counter-timer {
  font-size: 20px;
}
