.colors-content {
  text-align: center;
  font-size: 30px;
}

.colors-circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  pointer-events:none;
  border-color: Black;
  margin-left: 5px;
  margin-right: 5px;
}

.colors-circle-1 {
  background-color: #F8F7F8;
}

.colors-circle-2 {
  background-color: #E6C0B7;
}

.colors-circle-3 {
  background-color: #A9907E;
}

.colors-circle-4 {
  background-color: #6C7E55;
}

.colors-circle-5 {
  background-color: #053E14;
}