.intro-content {
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.intro-names {
  font-size: 70px;
}
.intro-message {
  font-size: 40px;
}
.intro-date {
  font-size: 50px;
}

@media only screen and (max-width: 650px) {
  .intro-names {
    word-spacing: 9999999px;
  }
}
