.backround {
  background: url("../public/leaf-cut.png"), url("../public/background.png");
  background-repeat: no-repeat;
  background-position: 15% 0%, center center;
  background-size: 500px,  cover;
}

@media only screen and (max-width: 1600px) {
  .backround {
    background-size: 400px, cover;
  }
}

@media only screen and (max-width: 1400px) {
  .backround {
    background-size: 300px, cover;
  }
}

@media only screen and (max-width: 1200px) {
  .backround {
    background-position: 5% 0%, center center;
    background-size: 300px, cover;
  }
}


@media only screen and (max-width: 700px) {
  .backround {
    background-size: 200px, cover;
  }
}

@media only screen and (max-width: 400px) {
  .backround {
    background-size: 150px, cover;
  }
}

.sk-font {
  /* font-family: 'DancingScript'; */
  font-family: 'CaveatScript';
}

.ru-font {
  /* font-family: 'BadScript'; */
  font-family: 'CaveatScript';
}

@font-face {
  font-family: 'DancingScript';
  src: url('../public/fonts/dancing-script/DancingScript-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'BadScript';
  src: url('../public/fonts/bad-script/BadScript-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'CaveatScript';
  src: url('../public/fonts/caveat/Caveat-VariableFont_wght.ttf')  format('truetype');
}