.app {
  background-image: url("../public/leaf.png");
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 15% 0%;
  font-family: 'DancingScript';
}

@media only screen and (max-width: 1300px) {
  .app {
    background-size: 250px;
  }
}

@media only screen and (max-width: 1140px) {
  .app {
    background-position: 5% 0%;
    background-size: 250px;
  }
}

@media only screen and (max-width: 940px) {
  .app {
    background-position: 5% 0%;
    background-size: 100px;
  }
}

@font-face {
  font-family: 'DancingScript';
  src: url('../public/fonts/dancing-script/DancingScript-Regular.ttf')  format('truetype');
}